<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="/frontend/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/frontend/css/google_font.css" rel="stylesheet">
  <link href="/stylesheets/sweetalert2.css" rel="stylesheet">
  <link href="/stylesheets/strip.css" rel="stylesheet">
  <link href="/stylesheets/style.css?v=<%= restart_time %>" rel="stylesheet">


  <!-- Custom styles for this template-->
  <link href="/frontend/css/sb-admin-2.min.css?v=<%= restart_time %>" rel="stylesheet">
  <% if(page == 'items' || page == 'purchase_item' || page == 'orders' || page == 'branch_management' || page == 'supplier_management' || page == 'user_management' || page == 'customer_management' || page == 'statement_manager'){ %> 
    <!-- Custom styles for this page -->
    <link href="/frontend/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
  <% } %>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include('templates/sidebar') %>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('templates/topbar') %>
        <!-- Begin Page Content -->
        <div class="container-fluid" id="mainContainer">
          <% if(page == 'dashboard'){ %> 
            <%- include('templates/dashboard') %>
          <% }else if(page == 'additem'){ %> 
            <%- include('templates/add_item') %>
          <% }else if(page == 'items'){ %> 
            <%- include('templates/items') %>
          <% }else if(page == 'purchase_item'){ %> 
            <%- include('templates/purchase_item') %>
          <% }else if(page == 'add_order'){ %> 
            <%- include('templates/add_order') %>
          <% }else if(page == 'orders'){ %> 
            <%- include('templates/orders') %>
          <% }else if(page == 'item_category'){ %> 
            <%- include('templates/item_category') %>
          <% }else if(page == 'user_management'){ %> 
            <%- include('templates/user_management') %>
          <% }else if(page == 'supplier_management'){ %> 
            <%- include('templates/supplier_management') %>
          <% }else if(page == 'branch_management'){%> 
            <%- include('templates/branch_management') %>
          <% }else if(page == 'account_management'){%> 
            <%- include('templates/account_management') %>
          <% }else if(page == 'customer_management'){%> 
            <%- include('templates/customer_management') %>
          <% }else if(page == 'invoice_category'){%> 
            <%- include('templates/invoice_category') %>
          <% }else if(page == 'create_statement'){%> 
            <%- include('templates/create_statement') %>
          <% }else if(page == 'invest_withdraw'){%> 
            <%- include('templates/invest_withdraw') %>
          <% }else if(page == 'statement_manager'){%> 
            <%- include('templates/statement_manager') %>
          <% }else if(page == 'salary_management'){%> 
            <%- include('templates/salary_management') %>
          <% } %>

        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <div id="editor" style="display: none;"></div>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/ax-management/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="/frontend/vendor/jquery/jquery.min.js"></script>
  <script src="/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/frontend/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/frontend/js/sb-admin-2.min.js"></script>
  <script src="/javascripts/socket.io.js?v=<%= restart_time %>"></script>
  <script src="/javascripts/socket-client-side.js?v=<%= restart_time %>"></script>
  <script src="/javascripts/custom.js?v=<%= restart_time %>"></script>
  <script src="/javascripts/sweetalert2.js"></script>
  <script src="/javascripts/strip.pkgd.js"></script>

  <% if(page == 'dashboard'){ %> 
    <!-- Page level plugins -->
    <script src="/frontend/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/frontend/js/demo/chart-area-demo.js"></script>
    <script src="/frontend/js/demo/chart-pie-demo.js"></script>
  <% } %>
  <% if(page == 'items' || page == 'purchase_item' || page == 'orders' || page == 'branch_management' || page == 'supplier_management' || page == 'user_management' || page == 'customer_management' || page == 'statement_manager'){ %> 
      <!-- Page level plugins -->
      <script src="/frontend/vendor/datatables/jquery.dataTables.min.js?v=<%= restart_time %>"></script>
      <script src="/frontend/vendor/datatables/dataTables.bootstrap4.min.js"></script>
      <!-- Page level custom scripts -->
      <script src="/frontend/js/demo/datatables-demo.js"></script>
  <% } %>
      <script src="/javascripts/moment.min.js"></script>
      <script src="/javascripts/lazy.min.js"></script>
  <%- include('templates/mediacenter') %>
  <input type="hidden" id="userid" value="<%= ses_data.user.user_id %>">
  <input type="hidden" id="userrole" value="<%= ses_data.user.user_role %>">
  <input type="hidden" id="usercompanyid" value="<%= ses_data.company_info.company_id %>">
  <input type="hidden" id="usercompanyname" value="<%= ses_data.company_info.company_name %>">
  <input type="hidden" id="thispagetitle" value="<%= page %>">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
  <script>
    // $('.lightcase').lightcase();
    $(function(){
      var config_option = {maxDate: "today"};
        $("#start_filtering_date").flatpickr(config_option);
        $("#end_filtering_date").flatpickr(config_option);
    });
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
  </script>
</body>

</html>
