<!DOCTYPE html>
<html>
  <head>
    <title>Aladdin Express | Not Found</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>