<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom fonts for this template-->
  <link href="/frontend/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/frontend/css/google_font.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/frontend/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/stylesheets/sweetalert2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <% if(page == 'register'){%> 
    <%- include('templates/register') %>
    <% }else if(page == 'login'){%> 
    <%- include('templates/login') %>
    <% } %>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/frontend/vendor/jquery/jquery.min.js"></script>
  <script src="/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/frontend/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/frontend/js/sb-admin-2.min.js"></script>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/socket-client-side.js"></script>
  <script src="/javascripts/sweetalert2.js"></script>
  <script type="text/javascript">
    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    function openWarning(type){
        if(type == 'email'){
            Swal.fire(
                'Warning!!!',
                'Email Address is invalid. Please provide valid email address.',
                'warning'
            );
        }else if(type == 'company_name'){
          Swal.fire(
                'Warning!!!',
                'Compnay Name minimum 3 length required.',
                'warning'
            );
        }else if(type == 'phone'){
            Swal.fire(
                'Warning!!!',
                'Invalid Phone Number',
                'warning'
            );
        }else if(type == 'name'){
            Swal.fire(
                'Warning!!!',
                'Name minimum 3 length required.',
                'warning'
            );
        }else if(type == 'password'){
          Swal.fire(
                'Warning!!!',
                'Password minimum 6 length required.',
                'warning'
            );
        }
    }
    function registerNewCompany(){
       var data = {
          user_name:$('#user_name').val(),
          company_name:$('#company_name').val(),
          user_email:$('#user_email').val(),
          user_phone:$('#user_phone').val(),
          password:$('#password').val(),
          req_type:'registerNewCompany'
       }
       if(validateEmail(data.user_email)){
        if(data.user_name.length < 2){
          openWarning('name');
        }else if(data.company_name.length < 2){
          openWarning('company_name');
        }else if(data.user_phone.length < 10){
          openWarning('phone');
        }else if(data.password.length < 5){
          openWarning('password');
        }else{
          socket.emit('register',data,function(res){
            if(res.status){
              Swal.fire({
                    title: 'Success!!!',
                    text: "Successfully Registered. Thank You.",
                    type: 'success',
                    confirmButtonText: 'ok'
                }).then((result) => {
                  window.location = "/ax-management/login";
                })
            }else{
              Swal.fire({
                    title: 'Error!!!',
                    text: res.msg,
                    type: 'error',
                    confirmButtonText: 'ok'
                }).then((result) => {
                    // location.reload();
                });
            }
          })
        }
       }else{
        openWarning('email');
       }
    }
  </script>

<script>



</script>

</body>

</html>
