

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add Item</h1>
            <a onclick="createNewProduct()" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Save Item</a>
          </div>

          <!-- Content Row -->

          <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-12">
                      <!-- Basic Card Example -->
                      <div class="card shadow mb-4">
                          <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                          </div>
                          <div class="card-body">
                              <div class="form-group row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="product_name">Item Name</label>
                                          <input type="text" class="form-control" id="product_name" name="product_name" placeholder="e.g Naviforce man watch">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="itemSku">Item SKU</label>
                                          <input type="text" class="form-control" id="itemSku" name="sku" placeholder="e.g AX-1001">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product_price">Product Price</label>
                                            <input type="number" class="form-control" id="product_price" name="product_price" placeholder="e.g 3000" value="0">
                                        </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="product_sale_price">Sale Price</label>
                                          <input type="number" class="form-control" id="product_sale_price" name="product_sale_price" placeholder="e.g 5000" value="0">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="category_id">Select Category</label>
                                          <select class="form-control" id="category_id" onchange="categoryPush(this)">
                                              <option value="">Select Category</option>
                                              <% _.each(category_list,function(v,k){ if(v.category_status){ %> 
                                                <option value="<%= v.category_id %>"><%= v.category_name %></option>
                                              <% }}); %>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="product_for">Item For</label>
                                          <select class="form-control" id="product_for">
                                                <option value="men" selected>Men</option>
                                                <option value="women">Women</option>
                                                <option value="kids">Kids</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
                <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Item info and others</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="product_status">Item Status</label>
                                                <select class="form-control" id="product_status" name="product_status">
                                                    <option value="1">Active</option>
                                                    <option value="0">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="product_short_desc">Short Descriptions</label>
                                                <textarea name="product_short_desc" class="form-control" id="product_short_desc" cols="" rows="2" placeholder="e.g Naviforce man watch"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product_desc">Long Descriptions</label>
                                            <textarea name="product_desc" class="form-control" id="product_desc" cols="" rows="7" placeholder="e.g Naviforce man watch"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Select Images</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12" onclick="openMediaCenter()">
                                    <a href="#" class="btn btn-secondary btn-icon-split btn-block">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Add Image</span>
                                    </a>
                                </div>
                                <div class="col-md-12" id="itemImageGallary">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

          </div>