

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Add order</h1>
                <a onclick="createOrder()" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i>Add</a>
              </div>
    
              <!-- Content Row -->
    
              <div class="row">
                <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Price & Poduct</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-12 tex-center" id="selectedProduct">
                                
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="selectItemForPurchase" > Select Products *</label>
                                            <a href="#" onclick="showAllProduct()" class="btn btn-secondary btn-icon-split btn-block">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                <span class="text">Select Item</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="delivery_charge">Delivery Charge</label>
                                            <input onchange="changeTotalPrice()" onblur="blurInputNumber(this)" type="number" class="form-control" id="delivery_charge" name="delivery_charge" min="0" value="0">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="vat_tax">Vat/Tax</label>
                                            <input onchange="changeTotalPrice()" onblur="blurInputNumber(this)" type="number" class="form-control" id="vat_tax" name="vat_tax" min="0" value="0">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="discount_amount">Discount Amount</label>
                                            <input onchange="changeTotalPrice()" onblur="blurInputNumber(this)" type="number" class="form-control" id="discount_amount" name="discount_amount" min="0" value="0">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="advance_payment">Advance Payment</label>
                                            <input onchange="changeTotalPrice()" onblur="blurInputNumber(this)" type="number" class="form-control" id="advance_payment" name="advance_payment" min="0" value="0">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="product_total_price">Total Price</label>
                                            <input type="number" disabled class="form-control" id="product_total_price" name="total_price" min="0" value="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-12">
                        <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Customer & Shipping</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="order_title">Order Title</label>
                                                <input type="text" class="form-control" id="order_title" name="order_title" placeholder="e.g AX1001">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="customer_name">Customer Name</label>
                                                <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="e.g Dalim Chowdhury">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="customer_Phone">Customer Phone</label>
                                                <input type="text" class="form-control" id="customer_Phone" name="customer_Phone" placeholder="e.g +8801827885295">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="shipping_address">Shipping Address</label>
                                                <textarea name="shipping_address" class="form-control" id="shipping_address" cols="" rows="3" placeholder="e.g k/a house 3d Baridhaka Dahka."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="orderNotes">Notes</label>
                                                <textarea name="notes" class="form-control" id="orderNotes" cols="" rows="3" placeholder="e.g Any notes."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="shipping_by">Shipping by</label>
                                                <select class="form-control" id="shipping_by">
                                                    <option value="S.A Courier">S.A Courier</option>
                                                    <option value="S.A Paribahan">S.A Paribahan</option>
                                                    <option value="eCourier">eCourier</option>
                                                    <option value="Cash">Cash</option>
                                                    <option value="Pathao">Pathao</option>
                                                    <option value="Sundarban Paribahan">Sundarban Paribahan</option>
                                                    <option value="Korotoya">Korotoya</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="branch_id">Select Branch</label>
                                                <select class="form-control" id="branch_id">
                                                    <% _.each(branch_list,function(v,k){ %> 
                                                        <option value="<%= v.branch_id %>"><%= v.branch_name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="order_reference">Order Reference</label>
                                                <input type="text" class="form-control" id="order_reference" name="order_reference" placeholder="e.g dalim">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="delivery_date">Delivery Date</label>
                                                <input type="date" class="form-control" id="delivery_date" name="delivery_date" min="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
              </div>