
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Satement</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="createNewStatement()"><i class="fas fa-plus fa-sm text-white-50"></i>Create</a>
      </div>

      <!-- Content Row -->

      <div class="row">
        <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="statement_type">Select Type(*)</label>
                                    <select class="form-control" id="statement_type" onchange="statement_type_change(this)">
                                        <option value="received" selected >Received (+)</option>
                                        <option value="payment">Payment (-)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" id="received_statement_category">
                                <div class="form-group">
                                    <label for="statement_category1">Select Category(*)</label>
                                    <select class="form-control" id="statement_category1">
                                        <option value="sales_products" selected>Sales Products</option>
                                        <option value="adjustment_received">Adjustment</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" id="payment_statement_category" style="display: none;">
                                <div class="form-group">
                                    <label for="statement_category2">Select Category(*)</label>
                                    <select class="form-control" id="statement_category2">
                                        <option value="purchase_product" selected >Purchase Product</option>
                                        <option value="buy_instruments">Buy Instruments</option>
                                        <option value="ad_cost">Ad Cost</option>
                                        <option value="adjustment_payment">Adjustment</option>
                                        <option value="delivery_cost">Delivery Cost</option>
                                        <option value="conveyance_bill">Conveyance Bill</option>
                                        <option value="packageing_cost">Packaging Cost</option>
                                        <option value="mobile_bill">Mobile Bill</option>
                                        <option value="internet_bill">Internet Bill</option>
                                        <option value="house_rent">House Rent</option>
                                        <option value="others_cost">Others Cost</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="form-group">
                                        <label for="branch_id">Select Branch(*)</label>
                                        <select class="form-control" id="branch_id">
                                            <% _.each(branch_list,function(v,k){ %> 
                                                <option value="<%= v.branch_id %>"><%= v.branch_name %></option>
                                            <% }) %>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="particulars">Particulars(*)</label>
                                    <textarea name="particulars" class="form-control" id="particulars" cols="" rows="3" placeholder="e.g Particulars."></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="note_statement">Notes</label>
                                    <textarea name="note" class="form-control" id="note_statement" cols="" rows="3" placeholder="e.g Any notes."></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="statement_ref">Voucher No / Ref.(*)</label>
                                    <input type="text" class="form-control" id="statement_ref" name="statement_ref" placeholder="e.g 500">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="amount">Amount(*)</label>
                                    <input type="number" onblur="blurInputNumber(this)" class="form-control" id="satementAmount" name="amount" placeholder="e.g 500" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
        