

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Customer Management</h1>
                <a onclick="createNewCustomer()" class="d-none d-sm-inline-block btn btn-primary shadow-sm" ><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
              </div>
     
              <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="customer_name">Customer Name</label>
                                            <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="e.g Dalim Chowdhury">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="customer_phone">Phone</label>
                                            <input type="text" class="form-control" id="customer_phone" name="customer_phone" placeholder="e.g +8801827885295">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="customer_email">Email</label>
                                            <input type="email" class="form-control" id="customer_email" name="customer_email" placeholder="e.g demo@demo.com">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="customer_address">Address</label>
                                            <input type="text" class="form-control" id="customer_address" name="customer_address" placeholder="e.g address">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="customer_shipping_address">Shipping Address</label>
                                            <input type="text" class="form-control" id="customer_shipping_address" name="customer_shipping_address" placeholder="e.g address">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="customer_status">Select Status</label>
                                            <select class="form-control" id="customer_status">
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
              <div class="row">
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">View Customer List</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Total Order</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Total Order</th>
                                                <th>Status</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                                <% _.each(customer_list,function(v,k){%> 
                                                    <tr>
                                                        <td><%= v.customer_name %></td>
                                                        <td><%= v.customer_phone %></td>
                                                        <td><%= v.customer_email %></td>
                                                        <td><%= v.customer_shipping_address %></td>
                                                        <td><%= v.total_order %></td>
                                                        <td><%= v.customer_status %></td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>