
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Invest Or Withdraw</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="createInvestOrWithdraw()"><i class="fas fa-plus fa-sm text-white-50"></i>Create</a>
      </div>

      <!-- Content Row -->

      <div class="row">
        <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="statement_type">Select Type(*)</label>
                                    <select class="form-control" id="statement_type">
                                        <option value="received" selected >Invest (+)</option>
                                        <option value="payment">Withdraw (-)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="seleteUser">Select User(*)</label>
                                    <select class="form-control" id="seleteUser">
                                        <% _.each(user_list,function(v,k){ if(v.user_type == 'partner'){  %> 
                                            <option value="<%= v.user_id %>"><%= v.user_name %></option>
                                        <% } }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="form-group">
                                        <label for="branch_id">Select Branch(*)</label>
                                        <select class="form-control" id="branch_id">
                                            <% _.each(branch_list,function(v,k){ %> 
                                                <option value="<%= v.branch_id %>"><%= v.branch_name %></option>
                                            <% }) %>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="note_statement">Notes</label>
                                    <textarea name="note" class="form-control" id="note_statement" cols="" rows="3" placeholder="e.g Any notes."></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="amount">Amount(*)</label>
                                    <input type="number" onblur="blurInputNumber(this)" class="form-control" id="satementAmount" name="amount" placeholder="e.g 500" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
        

    <% _.each(user_list,function(v,k){ %> 
        <input type="hidden" value="<%= v.user_name %>" id="userId<%= v.user_id %>">
    <% }) %>

    <% _.each(branch_list,function(v,k){ %> 
        <input type="hidden" value="<%= v.branch_name %>" id="branchId<%= v.branch_id %>">
    <% }) %>