

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Employee</h1>
                <a onclick="createCategory()" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
              </div>
    
              <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="category_name">Category Name</label>
                                            <input type="text" class="form-control" id="category_name" name="category_name" placeholder="e.g naviforce">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="parent_category_id">Select Parent</label>
                                            <select class="form-control" id="parent_category_id">
                                                    <option value="null">Select Parent</option>
                                                <% _.each(category_list,function(v,k){ if(v.category_status){ %> 
                                                    <option value="<%= v.category_id%>"><%= v.category_name %></option>
                                                <% }}); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="category_status">Select Status</label>
                                            <select class="form-control" id="category_status">
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
              <div class="row">
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">View Category List</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Category Name</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Category Name</th>
                                                <th>Status</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                                <% _.each(category_list,function(v,k){  %> 
                                                    <tr>
                                                        <td><%= v.category_name %></td>
                                                        <td><%= v.category_status %></td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>