

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Items</h1>
                <div id="actionDivHolder" style="display: none">
                    <button type="button" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="editActionProduct('save')" id="editItemActionBtn1" ><i class="fas fa-save fa-sm text-white-50" ></i> Save</button>
                    <button type="button"  class="d-none d-sm-inline-block btn btn-primary shadow-sm" id="editItemActionBtn2" onclick="editActionProduct('cancel')"><i class="fas fa-save fa-sm text-white-50"  ></i> Cancel</button>
                </div>
              </div>
    
              <!-- Content Row -->
    
              <div class="row" id="itemlistViewDiv">
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">View Items</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <!-- <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="productCategory">Select Category</label>
                                            <select class="form-control" id="productCategory">
                                                <option>Man</option>
                                                <option>Women</option>
                                                <option>test</option>
                                                <option>test2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="branch_id">Select Branch</label>
                                                <select class="form-control" id="branch_id" name="branch_id">
                                                    <option>Aladdin express</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="supplierList">Select Supplier</label>
                                            <select class="form-control" id="supplierList">
                                                <option>Robiul alam watch</option>
                                                <option>Patuatoli </option>
                                                <option>test</option>
                                                <option>test2</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>SKU</th>
                                                <th>QTY</th>
                                                <th>Image</th>
                                                <th>Purchase Price</th>
                                                <th>Sale Price</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>SL</th>
                                                <th>SKU</th>
                                                <th>QTY</th>
                                                <th>Image</th>
                                                <th>Purchase Price</th>
                                                <th>Sale Price</th>
                                                <th>Actions</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                                <% _.each(item_list,function(v,k){%> 
                                                    <tr>
                                                        <td><%= k + 1 %></td>
                                                        <td><%= v.sku %></td>
                                                        <td><%= v.product_qty %></td>
                                                        <td class="text-center"><a href="" class="strip _imgHref_<%= v.feature_image %>" data-strip-caption="<%= v.product_name %>"><img src="" alt="<%= v.product_name %>" class="item_image _imgTag_<%= v.feature_image %>"></a></td>
                                                        <td><%= v.product_purchase_price %></td>
                                                        <td><%= v.product_sale_price %></td>
                                                        <td><button type="button" class="btn btn-primary" onclick="editItem('<%= v.product_id %>')">Edit</button></td>
                                                    </tr>
                                                <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="row" id="editItemDiv" style="display: none">
                    <div class="col-lg-6">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Edit Items</h6>
                            </div>
                            <div class="card-body">
                              <div class="form-group row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="product_name">Item Name</label>
                                          <input type="text" class="form-control" id="product_name" name="product_name" placeholder="e.g Naviforce man watch">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="itemSku">Item SKU</label>
                                          <input type="text" class="form-control" id="itemSku" name="sku" placeholder="e.g AX-1001" disabled >
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="product_for">Item For</label>
                                          <select class="form-control" id="product_for">
                                                <option value="men">Men</option>
                                                <option value="women">Women</option>
                                                <option value="kids">Kids</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-12" onclick="openMediaCenter()">
                                    <a href="#" class="btn btn-secondary btn-icon-split btn-block">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Add Image</span>
                                    </a>
                                </div>
                                <div class="col-md-12" id="itemImageGallary">
                                    
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Item info and others</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="product_short_desc">Short Descriptions</label>
                                                <textarea name="product_short_desc" class="form-control" id="product_short_desc" cols="" rows="2" placeholder="e.g Naviforce man watch"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product_desc">Long Descriptions</label>
                                            <textarea name="product_desc" class="form-control" id="product_desc" cols="" rows="7" placeholder="e.g Naviforce man watch"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>



<script type="text/javascript">
    
    function editItem(product_id){
        var data = {
            product_id:product_id,
            req_type:'get_single_product'
        }
        socket.emit('product_management',data,function(res){
            if(res.data != null){
                $('#itemlistViewDiv').hide();
                $('#editItemDiv').show();
                $('#actionDivHolder').show();
                actionItem = product_id;
                $('#product_name').val(res.data.product_name);
                $('#itemSku').val(res.data.sku);
                $('#itemImageGallary').html('');
                $('#product_desc').val('');
                $('#product_desc').val(res.data.product_desc);
                $('#product_short_desc').val('');
                $('#product_short_desc').val(res.data.product_short_desc);
                $('#product_for').val(res.data.product_for);

                product_imgs = res.data.product_image;
                feature_img = null;

                if(res.data.product_image.length > 0){
                    $.each(socketImages,function(k,v){
                        if(res.data.product_image.indexOf(v.file_id) > -1){
                         $('#itemImageGallary').prepend(returngallaryDesign(v,'itemGallary'))
                        }
                    });
                }

                if(res.data.feature_image != null){
                    $.each(socketImages,function(k,v){
                        if(res.data.feature_image == v.file_id){
                         $('#itemImageGallary').prepend(returngallaryDesign(v,'itemGallary'));
                         $('._item_img_'+v.file_id).trigger('click');
                        }
                    });
                }
            }else{
                Swal.fire({ 
                    title: 'Error!!!',
                    text: 'Something Wrong!!!',
                    type: 'error',
                    confirmButtonText: 'ok'
                }).then((result) => {
                    // location.reload();
                });
            }
        })
    }

    function editActionProduct(type){
        console.log(type)
        if(type == 'cancel'){
           $('#itemlistViewDiv').show();
            $('#editItemDiv').hide();
            $('#actionDivHolder').hide();

            $('#product_name').val('');
            $('#itemSku').val('');
            $('#itemImageGallary').html(''); 
        }else{
            var data = {
                product_id:actionItem,
                req_type:'update_single_product',
                product_name:$('#product_name').val(),
                product_image:product_imgs,
                feature_image:feature_img,
                product_desc:$('#product_desc').val(),
                product_short_desc:$('#product_short_desc').val(),
            }
            if(data.product_name.length < 2){
                openWarning('product_name');
            }else if(data.feature_image == null || data.feature_image == ''){
                openWarning('feature_image');
            }else{
                socket.emit('product_management',data,function(res){
                   if(res.status){
                    Swal.fire({
                        title: 'Success!!!',
                        text: "Successfully update this item.",
                        type: 'success',
                        confirmButtonText: 'ok'
                    }).then((result) => {
                        location.reload();
                    })
                   }else{
                    Swal.fire({
                        title: 'Error!!!',
                        text: 'Something Wrong!!!',
                        type: 'error',
                        confirmButtonText: 'ok'
                    }).then((result) => {
                        // location.reload();
                    });
                   }
                });
            }
        }
    }
</script>