<style>
    #loadingDiv{
        display: none;
        width: 100%;
        height: calc(100% - 135px);
        z-index: 999;
        top: 63px;
        border: none;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
    #loadingDiv.active{
        display: flex;
    }
    #loadingDiv img{
        max-width: 100px;
        max-height: 100px;
    }
</style>
  <!-- Modal -->
<div id="mediaCenter"class="modal fade show cusbackwrap" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-top" role="document">
        <div class="modal-content">
            <div id="loadingDiv" class="modal-content"> <img src="/images/loading.svg" alt=""></div>
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Media Center</h5>
            <button type="button" class="close" onclick="closeBackwrap()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row col-md-12" onclick="$('#fileInput').click()">
                        <a  href="#" class="btn btn-secondary btn-icon-split btn-block">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Upload Images</span>
                        </a>
                    </div>
                    <div class="row col-md-12" id="allgallaryImg" style="max-height: 364px;overflow-y: auto;">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeBackwrap()">Close</button>
            <button type="button" class="btn btn-primary" id="selectFiles" style="display: none;" onclick="selectForAction()">Select</button>
            </div>
        </div>
    </div>
</div>
<input id="fileInput" type="file" name="imageUpload" placeholder="" class="form-control" onchange="uploadAttachFileServer(this.files)" hidden multiple accept="image/*">
<script>
    function closeBackwrap(){
        $('body').removeClass('modal-open');
        $('#backwrapcolor').remove()
        $('.cusbackwrap').hide();
    }
    
    function openMediaCenter(){
        $('#loadingDiv').addClass('active');
        imggallaryArray = [];
        $('body').addClass('modal-open');
        $('body').append('<div class="modal-backdrop fade show" id="backwrapcolor"></div>');
        $('#mediaCenter').show();
        $('#allgallaryImg').html('');
        $.each(socketImages,function(k,v){
            $('#allgallaryImg').append(returngallaryDesign(v));
        });
        $('.lazy').lazy();
        $('#loadingDiv').removeClass('active');
    
    }

var filetypecheck = (file)=>{
    var name = file.split('.')
    var type = name[name.length - 1];
    switch (type) {
        case "txt":
        case "doc":
        case "mpg":
            return "doc";
        case "jpg":
        case "jpeg":
        case "gif":
        case "png":
        case "svg":
        case "jfif":
            return "img";

        default:
            return "doc";
    }
}

    var formDataTemp = [];
    var count_files = 0;

function uploadAttachFileServer (files){
        $('#loadingDiv').addClass('active');
        var request = [];
        formDataTemp.length = 0;
    for (var i = 0; i < files.length; i++){
        if(count_files > 19) {
            alert("You can upload max 20 files at a time");
            return false;
        }
        var formData = new FormData();
        var entries = formData.entries();
        for(var pair of entries )
        {
           formData.delete( pair[0] );
        }
        var has_already = false;
        formDataTemp.forEach(function(vv) {
            if (vv.name == files[i].name) {
                has_already = true;
            }
        });
        if (has_already === true) continue;
        var slid = Number(moment().unix()) + i + 1;

        formDataTemp.push(files[i]);

        formData.append('imageUpload', files[i]);
        count_files++;
        
        formData.append('sl', slid);

        if (files[i].type.startsWith('image/')) {
            var imgsrc = window.URL.createObjectURL(files[i]);
        }

        var imgalt = window.URL.createObjectURL(files[i]);
        var stopthis = () => {
            this.abort();
        };
        request[slid] = $.ajax({
            xhr: function() {
                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("loadstart", function(et) {
                    console.log(et);
                    this.progressId = slid;
                    
                                
                });
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                    }
                }, false);
                return xhr;
            },
            url: '/ax-management/fileupload',
            type: "POST",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function(res) {
                // console.log(173,res);
                if(res.msg == 'Successfully uploaded'){
                    $('#allgallaryImg').prepend(returngallaryDesign(res.data));
                    socketImages.push(res.data);
                    $('.lazy').lazy();
    
                    var entries = formData.entries();
    
                    for(var pair of entries )
                    {
                       formData.delete( pair[0] );
                    }
                    $('#loadingDiv').removeClass('active');
                }else{
                    Swal.fire({
                        title: 'Error!!!',
                        text: 'Please Upload Another Image',
                        type: 'error',
                        confirmButtonText: 'ok'
                    }).then((result) => {
                        // location.reload();
                    });
                }

            },
            complete: function(e){
                console.log(e)
                // $('.uploadbtn').addClass('active').removeClass('inactive');
            },
            error: function(err) {
                console.log(err);
            }
        });
    }
}

function findProductWithSku(elm){
    var value = $(elm).val().toLowerCase();
    $.each($('#productListRow .perimg'),function(k,v){
        if ($(v).find('.skutitle').text().toLowerCase().search(value) > -1) {
            $(this).show();
        } else {
            $(this).hide();
        }
    })
}


</script>


<div id="productListModal"class="modal fade show cusbackwrap" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Product List</h5>
                <button type="button" class="close" onclick="closeBackwrap()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                            <div class="form-group">
                                <label for="searchWithSku" > Search Product SKU</label>
                                <input type="text" class="form-control" id="searchWithSku" placeholder="Enter Product SKU" onkeyup="findProductWithSku(this)">
                            </div>
                        <div class="row col-md-12" id="productListRow" style="max-height: 364px;overflow-y: auto;">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeBackwrap()">Close</button>
                <button type="button" class="btn btn-primary" id="selectProduct" style="display: none;" onclick="selectForProductAction()">Select</button>
                </div>
            </div>
        </div>
    </div>