
<div id="fullOrderListView">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Orders</h1>
                    <div class="form-group">
                        <select class="form-control" onchange="filteringOrder(this)">
                            <option value="">Select Order Type</option>
                            <option value="">All</option>
                            <option value="INITIATED">INITIATED</option>
                            <option value="PENDDING">PENDDING</option>
                            <option value="DELIVERED">DELIVERED</option>
                            <option value="CANCLED">CANCELED</option>
                            <option value="RETURN">RETURN</option>
                        </select>
                    </div>
            </div>
        
            <!-- Content Row -->

            <div class="row">
                <div class="col-lg-12">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Generate Report</h6>
                        </div>
                        <div class="card-body">
                                <div class="form-group row">
                                    <div class="form-group col-md-3">
                                        <div class="form-group">
                                            <label for="start_filtering_date">Select Start Date</label>
                                            <input type="date" id="start_filtering_date" class="form-control" placeholder="Start Date">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="form-group">
                                            <label for="end_filtering_date">Select End Date</label>
                                            <input type="date" id="end_filtering_date" class="form-control" placeholder="End Date">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="form-group">
                                                <label for="order_status_filtering">Select Order Status</label>
                                                <select class="form-control" id="order_status_filtering" value="all">
                                                    <option value="all" selected>All</option>
                                                    <option value="0">INITIATED</option>
                                                    <option value="4">PENDDING</option>
                                                    <option value="1">DELIVERED</option>
                                                    <option value="2">RETURN</option>
                                                    <option value="3">CANCELED</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="form-group">
                                                <label for="order_status_filtering">Action</label>
                                                <button type="button" class="form-control d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="generateReport('order')"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">View Orders</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="ordersDatatable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Invoice</th>
                                            <th>ID</th>
                                            <th>Customer Name</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Delivery Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>SL</th>
                                            <th>Invoice</th>
                                            <th>ID</th>
                                            <th>Customer Name</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Delivery Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                            <% _.each(order_list,function(v,k){ %> 
                                                <% var ordersatusclass = 'btn-primary'; if(v.order_status == 2 || v.order_status == 3){ ordersatusclass = 'btn-danger'; }else if(v.order_status == 1){ ordersatusclass = 'btn-success'; } %>
                                                <tr>
                                                    <td><%= k + 1 %></td>
                                                    <td><button type="button" onclick="modalview('orderDetails','<%= v.order_id%>')" class="d-none d-sm-inline-block btn <%= ordersatusclass %> shadow-sm" onclick="viewDetailsOrder('<%= v.order_id %>')" style="margin-top:4px;margin-right: 4px;"> Details</button><button type="button" onclick="viewInvoiceFromUrl('/ax-management/view-invoice/order/<%= v.order_id%>')" class="d-none d-sm-inline-block btn <%= ordersatusclass %> shadow-sm" style="margin-top:4px "> Invoice</button></td>
                                                    <td><%= v.order_uniq %></td>
                                                    <td><%= v.customer_name %></td>
                                                    <td><%= v.customer_phone %></td>
                                                    <td><%= v.shipping_address %></td>
                                                    <td><%= moment(v.delivery_date).format('DD-MM-YYYY') %></td>
                                                    <td class="text-center"><button type="button"  class="btn <%= ordersatusclass %>"><%= getOrderStatus(v.order_status) %> </button> </td>
                                                    <% if(v.order_status == 2 || v.order_status == 3){ %> 
                                                        <td class="text-center"><button type="button"  class="btn <%= ordersatusclass %>"> Actions</button></td>
                                                    <% }else{ %>
                                                        <td class="text-center" ><button type="button" onclick="orderActions('<%= v.order_id %>')" class="btn <%= ordersatusclass %>"> Actions</button></td>
                                                    <% } %>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
</div>
<div style="display: none;" id="downloadabletable">
    <h3 id="companyNameOrder"><%= ses_data.company_info.company_name %> Orders Report</h3>
    <p class="reportp" id="reportStartAndEndDate"> </p>
    <p class="reportp" >Creator Name : <%= ses_data.user.user_name %></p>
    <p class="reportp"  id="createReportTime"> </p>
    <p class="reportp"  id="reportTotalOrders"> </p>
    <p class="reportp">Copyright © Ax Management 2019 </p>
    <table>
        <thead>
            <tr>
                <th>SL</th>
                <th>Id</th>
                <th>Date</th>
                <th>Title</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Price</th>
                <th>Collected</th>
                <th>Status</th>
            </tr>
            
        </thead>
        <tbody id="reportOrdersTbody">

        </tbody>
    </table>
</div>
<div id="orderActionsPage" style="display: none;">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Order Manager</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="orderActionSavefun()"><i class="fas fa-save fa-sm text-white-50"></i> Save</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="$('#orderActionsPage').hide();$('#fullOrderListView').show()"><i class="fas fa-ban fa-sm text-white-50"></i> Cancel</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Invoice</a>
    </div>
    <div class="row" >
        <div class="col-lg-12">
                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Change Information</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group row" id="returnProductData">

                            </div>
                            <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="order_status">Select Order Status</label>
                                            <select class="form-control" id="order_status" onchange="changeOrderStatus(this)">
                                                <option value="0">INITIATED</option>
                                                <option value="4">PENDDING</option>
                                                <option value="1">DELIVERED</option>
                                                <option value="2">RETURN</option>
                                                <option value="3">CANCELED</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="total_product_price">Product Price</label>
                                                <input type="number" class="form-control" id="total_product_price" name="total_product_price" placeholder="e.g 5000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="order_vat_tax">Vat/Tax (+)</label>
                                                <input type="number" class="form-control" id="order_vat_tax" name="order_vat_tax" placeholder="e.g 5000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="order_delivery_charge">Delivery Charge (+)</label>
                                                <input type="number" class="form-control" id="order_delivery_charge" name="order_delivery_charge" placeholder="e.g 5000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="order_discount_amount">Discount Amount (-)</label>
                                                <input type="number" class="form-control" id="order_discount_amount" name="order_discount_amount" placeholder="e.g 5000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="total_price">Total Price</label>
                                                <input type="number" class="form-control" id="total_price" name="total_price" placeholder="e.g 5000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="total_payment">Total Payment (-)</label>
                                                <input type="number" class="form-control" id="total_payment" name="total_payment" placeholder="e.g 5000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="due_amount">Due Amount</label>
                                                <input type="number" class="form-control" id="due_amount" name="due_amount" placeholder="e.g 5000" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="newPaymentAmount">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="newPayment">New Payment Amount (+)</label>
                                                <input type="number" class="form-control" id="newPayment" name="newPayment" placeholder="e.g 5000" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="delivery_charge_amount_status">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="delivery_charge_amount">Company Shipping Charge (-)</label>
                                                <input type="number" class="form-control" id="delivery_charge_amount" name="newPayment" placeholder="e.g 5000">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="newPaymentSource">New Payment Source</label>
                                                <select  id="newPaymentSource" value="Cash" class="form-control">
                                                    <option value="S.A Courier">S.A Courier</option>
                                                    <option value="S.A Paribahan">S.A Paribahan</option>
                                                    <option value="eCourier">eCourier</option>
                                                    <option value="Cash">Cash</option>
                                                    <option value="Pathao">Pathao</option>
                                                    <option value="Sundarban Paribahan">Sundarban Paribahan</option>
                                                    <option value="Korotoya">Korotoya</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="payref">Payment Ref.</label>
                                                    <input type="text" class="form-control" id="payref" placeholder="e.g example">
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Customer & Shipping</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="order_title">Order Title</label>
                                <input type="text" class="form-control" id="order_title" name="order_title" placeholder="e.g AX1001">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="customer_name">Customer Name</label>
                                <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="e.g Dalim Chowdhury">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="customer_Phone">Customer Phone</label>
                                <input type="text" class="form-control" id="customer_Phone" name="customer_Phone" placeholder="e.g +8801827885295">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shipping_address">Shipping Address</label>
                                <textarea name="shipping_address" class="form-control" id="shipping_address" cols="" rows="3" placeholder="e.g k/a house 3d Baridhaka Dahka."></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="orderNotes">Notes</label>
                                <textarea name="notes" class="form-control" id="orderNotes" cols="" rows="3" placeholder="e.g Any notes."></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="shipping_by">Shipping by</label>
                                <select class="form-control" id="shipping_by">
                                    <option value="S.A Courier">S.A Courier</option>
                                    <option value="S.A Paribahan">S.A Paribahan</option>
                                    <option value="eCourier">eCourier</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Pathao">Pathao</option>
                                    <option value="Sundarban Paribahan">Sundarban Paribahan</option>
                                    <option value="Korotoya">Korotoya</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="order_reference">Order Reference</label>
                                <input type="text" class="form-control" id="order_reference" name="order_reference" placeholder="e.g dalim">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="delivery_date">Delivery Date</label>
                                <input type="date" class="form-control" id="delivery_date" name="delivery_date" min="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function viewInvoiceFromUrl(url){
        $.get(url, function(data, status){
            if(status == 'success'){
                var newWin = window.open('','Print-Window');
                newWin.document.open();
                newWin.document.write(data);
                newWin.print();
                newWin.document.close();
                setTimeout(function(){newWin.close();},1);
            }
        });
    }

    function filteringOrder(elm){
        var value = $(elm).val();
        $('#ordersDatatable_filter').find('.form-control.form-control-sm').val(value);
        $('#ordersDatatable_filter').find('.form-control.form-control-sm').trigger('keyup');
    }

    function modalview(type,order_id){
        if(type == 'orderDetails'){
            socket.emit('order_management',{order_id:order_id,req_type:'get_single_order'},function(res){
                var data = res.data;
                $('#details_order_id').html('#'+data.order_uniq);
                $('#details_order_status').html(getOrderStatus(data.order_status));
                $('#details_order_delivery_date').html(moment(data.delivery_date).format('DD-MM-YYYY'));
                $('#product_list_for_details').html('');

                $.each(data.products,function(k,v){
                    var design = '<div class="col-md-6 text-left p-1">Product SKU : <span>'+v.sku+'</span></div><div class="col-md-6 text-left p-1">Qty : <span>'+v.qty+'</span></div>';
                    $('#product_list_for_details').append(design);
                });

                $('#details_order_customer_name').html(': '+data.customer_name);
                $('#details_order_customer_phone').html(': '+data.customer_phone);
                $('#details_order_title').html(': '+data.order_title);
                $('#details_order_created_at').html(': '+moment(data.created_at).format('DD-MM-YYYY'));
                $('#details_order_shipping_by').html(': '+data.shipping_by);
                $('#details_order_shipping_address').html(': '+data.shipping_address);
                $('#details_order_total_product_price').html(': '+data.total_product_price+'Tk');
                $('#details_order_vat_tax').html(': '+data.vat_tax+'Tk');
                $('#details_order_delivery_charge').html(': '+data.delivery_charge+'Tk');
                $('#details_order_discount_amount').html(': '+data.discount_amount+'Tk');
                $('#details_order_total_price').html(': '+data.total_price+'Tk');
                $('#details_order_total_payment').html(': '+data.payment+'Tk');
                $('#details_order_due_price').html(': '+data.due_price+'Tk');
                $('#details_order_note').html(': '+data.note);
                $('#details_order_customer_feedback').html(': '+data.customer_feedback);
                $('#details_order_order_reference').html(': '+data.order_reference);
                $('#details_order_delivery_charge_amount').html(': '+data.delivery_charge_amount+'Tk');
                $('#details_order_total_cost').html(': '+data.order_total_cost+'Tk');
                $('#orderDetailsView').modal('toggle');
            })
        }
    }
    
</script>



<div id="orderDetailsView" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Order Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="row">
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Order ID</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="details_order_id">$40,000</div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Order Status</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="details_order_status">#2515551</div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Delivery Date</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="details_order_delivery_date">#2515551</div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Products List</h6>
                    </div>
                    <div class="card-body">
                        <div class="row" id="product_list_for_details">

                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Order Details</h6>
                    </div>
                    <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 txt-left p-1">Customer Name</div>
                                <div class="col-md-6 txt-left p-1" id="details_order_customer_name"></div>
            
                                <div class="col-md-6 text-left p-1">Customer Phone</div>
                                <div class="col-md-6 text-left p-1" id="details_order_customer_phone"></div>
            
                                <div class="col-md-6 text-left p-1">Order Title</div>
                                <div class="col-md-6 text-left p-1" id="details_order_title"></div>
            
                                <div class="col-md-6 text-left p-1">Created At</div>
                                <div class="col-md-6 text-left p-1" id="details_order_created_at"></div>
            
                                <div class="col-md-6 text-left p-1">Shipping By</div>
                                <div class="col-md-6 text-left p-1" id="details_order_shipping_by"></div>
            
                                <div class="col-md-6 text-left p-1">Shipping Address</div>
                                <div class="col-md-6 text-left p-1" id="details_order_shipping_address" ></div>
            
                                <div class="col-md-6 text-left p-1">Total Product Price</div>
                                <div class="col-md-6 text-left p-1" id="details_order_total_product_price"></div>
            
                                <div class="col-md-6 text-left p-1">Vat/Tax</div>
                                <div class="col-md-6 text-left p-1" id="details_order_vat_tax"></div>
            
                                <div class="col-md-6 text-left p-1">Delivery Charge</div>
                                <div class="col-md-6 text-left p-1" id="details_order_delivery_charge"></div>
            
                                <div class="col-md-6 text-left p-1">Discount Amount</div>
                                <div class="col-md-6 text-left p-1" id="details_order_discount_amount"></div>
            
                                <div class="col-md-6 text-left p-1">Total Amount</div>
                                <div class="col-md-6 text-left p-1"  id="details_order_total_price"></div>
            
                                <div class="col-md-6 text-left p-1">Total Payment</div>
                                <div class="col-md-6 text-left p-1" id="details_order_total_payment"></div>
            
                                <div class="col-md-6 text-left p-1" >Due Amount</div>
                                <div class="col-md-6 text-left p-1" id="details_order_due_price"></div>
            
                                <div class="col-md-6 text-left p-1">Note</div>
                                <div class="col-md-6 text-left p-1" id="details_order_note"></div>
            
                                <div class="col-md-6 text-left p-1">Customer Feedback</div>
                                <div class="col-md-6 text-left p-1" id="details_order_customer_feedback"></div>
            
                                <div class="col-md-6 text-left p-1">Order Ref.</div>
                                <div class="col-md-6 text-left p-1" id="details_order_order_reference"></div>
            
                                <div class="col-md-6 text-left p-1">Delivery Charge Amount</div>
                                <div class="col-md-6 text-left p-1" id="details_order_delivery_charge_amount"></div>
            
                                <div class="col-md-6 text-left p-1">Order Total Cost</div>
                                <div class="col-md-6 text-left p-1"  id="details_order_total_cost"></div>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
</div>