

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Purchase Item</h1>
                <a href="#" onclick="addPurchaseItem()" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
              </div>
    
              <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-12 tex-center" id="selectedProduct">
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="selectItemForPurchase" > Select Purchase Product *</label>
                                            <a href="#" onclick="showAllProduct()" class="btn btn-secondary btn-icon-split btn-block">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                <span class="text">Select Item</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="supplierList">Select Supplier *</label>
                                            <select class="form-control" id="supplier_id">
                                                    <option value="null" >Select Supplier</option>
                                                    <% _.each(supplier_list,function(v,k){ %> 
                                                        <option value="<%= v.supplier_id %>"><%= v.supplier_name %></option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product_purchase_price">Purchase Price * per item *</label>
                                            <input type="Number" class="form-control" id="product_purchase_price" name="product_purchase_price" placeholder="e.g 500">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product_sale_price">Sale Price * per item *</label>
                                            <input type="Number" class="form-control" id="product_sale_price" name="product_sale_price" placeholder="e.g 700">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="quantity">Item Quantity *</label>
                                            <input type="Number" class="form-control" id="quantity" name="quantity" placeholder="e.g 50">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product_status">Item Status</label>
                                            <select class="form-control" id="product_status" name="product_status">
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="voucher_no">Voucher No / Ref. * </label>
                                            <input type="text" class="form-control" id="voucher_no" name="voucher_no" placeholder="e.g 0152556">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <label for="branch_id">Select Branch *</label>
                                            <select class="form-control" id="branch_id">
                                                <option value="null" >Select Branch</option>
                                                <% _.each(branch_list,function(v,k){ %> 
                                                    <option value="<%= v.branch_id %>"><%= v.branch_name %></option>
                                                <% }) %>
                                            </select>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="notes">Notes</label>
                                            <textarea name="notes" class="form-control" id="notes" cols="" rows="3" placeholder="e.g Naviforce man watch"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
              <div class="row">
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">View Purchase List</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>#ID</th>
                                                <th>Date</th>
                                                <th>SKU</th>
                                                <th>QTY</th>
                                                <th>Amount</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>#ID</th>
                                                <th>Date</th>
                                                <th>SKU</th>
                                                <th>QTY</th>
                                                <th>Amount</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                                <% _.each(purchase_list,function(v,k){%> 
                                                    <tr>
                                                        <td><%= v.purchase_uniq %></td>
                                                        <td><%= moment(v.created_at).format('DD-MM-YYYY') %></td>
                                                        <td><%= v.sku %></td>
                                                        <td><%= v.qty %></td>
                                                        <td><%= v.total_amount%></td>
                                                    </tr>
                                                <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>