<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="user_name" placeholder="Name" required>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="company_name" placeholder="Company Name" required>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="user_email" placeholder="Email Address" required>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="user_phone" placeholder="Phone Number" required>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="password" placeholder="Password" required>
                </div>
              </div>
              <a onclick="registerNewCompany()" class="btn btn-primary btn-user btn-block">
                Register Account
              </a>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="#">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="/ax-management/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>