
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Salary Management</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="createSalaryStatement()"><i class="fas fa-plus fa-sm text-white-50"></i> Payment</a>
    </div>

    <!-- Content Row -->

    <div class="row">
      <div class="col-lg-12">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                  </div>
                  <div class="card-body">
                      <div class="form-group row">

                          <div class="col-md-6" >
                              <div class="form-group">
                                      <label for="branch_id_salary">Select Branch(*)</label>
                                      <select class="form-control" id="branch_id_salary">
                                          <% _.each(branch_list,function(v,k){ %> 
                                              <option value="<%= v.branch_id %>"><%= v.branch_name %></option>
                                          <% }) %>
                                      </select>
                              </div>
                          </div>

                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="seleteUser">Select User(*)</label>
                                  <select class="form-control" id="seleteUser" onchange="userSalaryChangeValue(this)">
                                    <option value="" selected>Select One User</option>
                                      <% _.each(user_list,function(v,k){  %> 
                                          <option value="<%= v.user_id %>"><%= v.user_name %></option>
                                      <%  }) %>
                                  </select>
                              </div>
                          </div>
                          <div id="userSalarySection" class="col-md-12 row" style="display: none;">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="due_payment">Due Payment</label>
                                      <input type="Number" class="form-control" id="due_payment" name="due_payment" placeholder="e.g 500" disabled>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="this_month_salary">Salary Current Month</label>
                                      <input type="Number" class="form-control" id="this_month_salary" name="this_month_salary" placeholder="e.g 500" disabled>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="current_month_payment">Total Pay This Month</label>
                                      <input type="Number" class="form-control" id="current_month_payment" name="current_month_payment" placeholder="e.g 500" disabled>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="any_notes">Notes</label>
                                      <input type="text" class="form-control" id="any_notes" name="any_notes" placeholder="e.g Example">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="newPayment">Amount</label>
                                      <input type="Number" class="form-control" id="newPayment" name="newPayment" placeholder="e.g 500">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
    </div>
      

  <% _.each(user_list,function(v,k){ %> 
      <input type="hidden" value="<%= v.user_name %>" id="userId<%= v.user_id %>">
  <% }) %>

  <% _.each(branch_list,function(v,k){ %> 
      <input type="hidden" value="<%= v.branch_name %>" id="branchId<%= v.branch_id %>">
  <% }) %>

  <script>
  function userSalaryChangeValue(elm){
    $('#userSalarySection').hide();
    var value = $(elm).val();
    if(value != ''){
      socket.emit('user_management',{req_type:'get_single_user',user_id:value},function(res){
        if(res.status){
            if(moment(res.data.current_month).format('YYYY-MM') < moment().format('YYYY-MM')){
               var monthdiff = moment(moment().format('YYYY-MM')).diff(moment(res.data.current_month).format('YYYY-MM'), "months"); 
               var updatedata = {
                current_month:moment().format(),
                current_month_payment:0,
                due_payment:((res.data.salary * monthdiff) - res.data.current_month_payment),
                user_id:res.data.user_id,
                req_type:'update_current_month'
               }
               socket.emit('user_management',updatedata,function(res2){
                   if(res2.status){
                    $('#userSalarySection').show();
                    $('#due_payment').val(updatedata.data.due_payment);
                    $('#this_month_salary').val(res.data.salary);
                    $('#current_month_payment').val(updatedata.data.current_month_payment);
                    var new_payment = 0;
                    new_payment = (res.data.salary - updatedata.data.current_month_payment);
                    new_payment = new_payment + updatedata.data.due_payment;
                    if(new_payment < 0){
                        $('#newPayment').val(0);
                    }else{
                        $('#newPayment').val(new_payment);
                    }
                   }
               });
            }else{

                $('#userSalarySection').show();
                $('#due_payment').val(res.data.due_payment);
                $('#this_month_salary').val(res.data.salary);
                $('#current_month_payment').val(res.data.current_month_payment);
                var new_payment = 0;
                new_payment = (res.data.salary - res.data.current_month_payment);
                new_payment = new_payment + res.data.due_payment;
                if(new_payment < 0){
                    $('#newPayment').val(0);
                }else{
                    $('#newPayment').val(new_payment);
                }
            }
        }else{
          alert('user invalid');
          localtion.reload();
        }
      })
    }
  }
  </script>