    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">AX<sup>Management</sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/ax-management">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Management
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inventory" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-dolly-flatbed"></i>
            <span>Inventory</span>
          </a>
          <div id="inventory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/ax-management/add-item">Add Item</a>
              <a class="collapse-item" href="/ax-management/purchase-item">Purchase Item</a>
              <a class="collapse-item" href="/ax-management/items">Items</a>
              <a class="collapse-item" href="/ax-management/item-category">Item Category</a>
              <!-- <a class="collapse-item" href="#">Report</a> -->
            </div>
          </div>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Orders" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-clipboard-list"></i>
            <span>Orders</span>
          </a>
          <div id="Orders" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/ax-management/add-order">Add Order</a>
              <a class="collapse-item" href="/ax-management/orders">Orders</a>
              <!-- <a class="collapse-item" href="#">Report</a> -->
            </div>
          </div>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#statement" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-receipt"></i>
            <span>Transaction</span>
          </a>
          <div id="statement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="/ax-management/create-satement">Payment Or Received</a>
              <a class="collapse-item" href="/ax-management/invest-withdraw">Invest Or Withdraw</a>
              <a class="collapse-item" href="/ax-management/salary-management">Salary Management</a>
              <a class="collapse-item" href="/ax-management/statement-manager">Statement Manager</a>
            </div>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link collapsed" href="/ax-management/transaction" >
            <i class="fas fa-money-check-alt"></i>
            <span>Transaction</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#settings" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
          </a>
          <div id="settings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/ax-management/customer-management">Customer Management</a>
              <a class="collapse-item" href="/ax-management/user-management">User Management</a>
              <a class="collapse-item" href="/ax-management/supplier-management">Supplier</a>
              <a class="collapse-item" href="/ax-management/branch-management">Branch</a>
              <!-- <a class="collapse-item" href="/ax-management/account-management">Account</a> -->
            </div>
          </div>
        </li>
        
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->