

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Statement</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Content Row -->

          <div class="row">
                <div class="col-lg-12">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Generate Report</h6>
                            </div>
                            <div class="card-body">
                                    <div class="form-group row">
                                        <div class="form-group col-md-3">
                                            <div class="form-group">
                                                <label for="start_filtering_date">Select Start Date</label>
                                                <input type="date" id="start_filtering_date" class="form-control" placeholder="Start Date">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="form-group">
                                                <label for="end_filtering_date">Select End Date</label>
                                                <input type="date" id="end_filtering_date" class="form-control" placeholder="End Date">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="form-group">
                                                    <label for="order_status_filtering">Select Main Type</label>
                                                    <select class="form-control" id="order_status_filtering" value="all">
                                                        <option value="all" selected>All</option>
                                                        <option value="received">Received(+)</option>
                                                        <option value="payment">Payment(-)</option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="form-group">
                                                    <label for="order_status_filtering">Action</label>
                                                    <button type="button" class="form-control d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="generateReport('statement')"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">View Statement</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="statementDatatable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Id</th>
                                            <th>Date</th>
                                            <th>Particulars</th>
                                            <th>Category</th>
                                            <th>Ref.</th>
                                            <th>Type</th>
                                            <th>Amount</th>
                                            <th>Note</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>SL</th>
                                            <th>Id</th>
                                            <th>Date</th>
                                            <th>Particulars</th>
                                            <th>Category</th>
                                            <th>Ref.</th>
                                            <th>Type</th>
                                            <th>Amount</th>
                                            <th>Note</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                            <% _.each(statement_list,function(v,k){ %> 
                                                <tr>
                                                    <td><%= k+1 %></td>
                                                    <td><%= v.statement_uniq %></td>
                                                    <td><%= moment(v.created_at).format('DD-MM-YYYY') %></td>
                                                    <td><%= v.particulars %></td>
                                                    <td><%= v.statement_category %></td>
                                                    <td><%= v.ref %></td>
                                                    <td><%= v.statement_type %></td>
                                                    <td><% if(v.statement_type == 'payment'){%> <span class="btn btn-danger btn-circle btn-sm" style="width: 22px;height: 22px;"><i class="fas fa-minus"></i></span> <% }else{ %><span class="btn btn-success btn-circle btn-sm" style="width: 22px;height: 22px;"><i class="fas fa-plus"></i></span> <% } %><%= v.amount %></td>
                                                    <td><%= v.note %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>



<div style="display: none;" id="downloadabletable">

<style>
    .zui-table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
    }
    .zui-table thead th {
        background-color: #DDEFEF;
        border: solid 1px #DDEEEE;
        color: #336B6B;
        padding: 10px;
        text-align: center;
        text-shadow: 1px 1px 1px #fff;
    }
    .zui-table tbody td {
        border: solid 1px #DDEEEE;
        color: #333;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
    }
</style>

<h3 id="companyNameOrder"><%= ses_data.company_info.company_name %> Statement Report</h3>
<p class="reportp" id="reportStartAndEndDate"> </p>
<p class="reportp" >Creator Name : <%= ses_data.user.user_name %></p>
<p class="reportp"  id="createReportTime"> </p>
<p class="reportp">Copyright © Ax Management 2019 </p>

<table>
    <thead>
        <tr>
            <th>(Invest + Sales) Amount</th>
            <th>(Purchase Product + Salary + Other Expense) Amount</th>
            <th>(Received - Expense) Amount</th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td id="totalReceivedAmount" style="text-align:center;width:30%">0</td>
            <td id="totalExpenseAmount" style="text-align:center;width:30%">0</td>
            <td id="GrandTotalForStatement" style="text-align:center;width:40%">0</td>
        </tr>
    </tbody>
</table>
<p class="reportp" style="padding: 20px; box-sizing: border-box;">Statement List</p>
<table>
    <thead>
        <tr>
            <th>SL</th>
            <th>Id</th>
            <th>Date</th>
            <th>Particulars</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
        
    </thead>
    <tbody id="reportOrdersTbody">

    </tbody>
</table>
</div>