

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Supplier Management</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="createSupplier()"><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
              </div>
    
              <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="supplier_name">Supplier Name</label>
                                            <input type="text" class="form-control" id="supplier_name" name="supplier_name" placeholder="e.g Dalim Chowdhury">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="supplier_phone">Phone</label>
                                            <input type="text" class="form-control" id="supplier_phone" name="supplier_phone" placeholder="e.g +8801827885295">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="supplier_email">Email</label>
                                            <input type="email" class="form-control" id="supplier_email" name="supplier_email" placeholder="e.g demo@demo.com">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="supplier_address">Address</label>
                                            <input type="text" class="form-control" id="supplier_address" name="supplier_address" placeholder="e.g address">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="supplier_status">Select Status</label>
                                            <select class="form-control" id="supplier_status">
                                                <option value="1">Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
              <div class="row">
                    <div class="col-lg-12">
                        <!-- Basic Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">View Supplier List</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Total Amount</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Total Amount</th>
                                                <th>Status</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                                <% _.each(supplier_list,function(v,k){ %> 
                                                    <tr>
                                                        <td><%= v.supplier_name %></td>
                                                        <td><%= v.supplier_phone %></td>
                                                        <td><%= v.supplier_email %></td>
                                                        <td><%= v.supplier_address %></td>
                                                        <td><%= v.total_amount %></td>
                                                        <td><%= v.supplier_status %></td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>