
<div id="fullUserListView">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4" >
        <h1 class="h3 mb-0 text-gray-800">User Management</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="createNewUser()"><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
      </div>

      <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Required Field</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_name">Name</label>
                                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="e.g Dalim Chowdhury">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_dob">Date of Birth</label>
                                    <input type="date" id="user_dob" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_gender">Gender</label>
                                    <select class="form-control" id="user_gender">
                                        <option value="male" selected>Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_type">Select Type</label>
                                    <select class="form-control" id="user_type">
                                        <option value="partner" selected>Partner</option>
                                        <option value="employee">Employee</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_designation">Designation</label>
                                    <select class="form-control" id="user_designation">
                                        <option value="ceo" selected>CEO</option>
                                        <option value="director">Director</option>
                                        <option value="manager">Manager</option>
                                        <option value="marketing manager">Marketing Manager</option>
                                        <option value="officer">Officer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_role">System Role</label>
                                    <select class="form-control" id="user_role">
                                        <option value="admin" selected>Admin</option>
                                        <option value="observer">Observer</option>
                                        <option value="member">Member</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="salary">Salary</label>
                                    <input type="number" class="form-control" id="salary" name="salary" placeholder="e.g 50000">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_phone">Phone</label>
                                    <input type="text" class="form-control" id="user_phone" name="user_phone" placeholder="e.g +8801827885295">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_email">Email</label>
                                    <input type="email" class="form-control" id="user_email" name="user_email" placeholder="e.g demo@demo.com">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_nid">NID</label>
                                    <input type="text" class="form-control" id="user_nid" name="user_nid" placeholder="e.g 19950255525522">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="user_address">Address</label>
                                    <input type="text" class="form-control" id="user_address" name="user_address" placeholder="e.g address">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="status">Select Status</label>
                                    <select class="form-control" id="status">
                                        <option selected value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
      <div class="row">
            <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">View Member List</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Designation</th>
                                        <th>System Role</th>
                                        <th>Salary</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Designation</th>
                                        <th>System Role</th>
                                        <th>Salary</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                        <% _.each(user_list,function(v,k){%> 
                                            <tr>
                                                <td><%= v.user_name %></td>
                                                <td><%= v.user_phone %></td>
                                                <td><%= v.user_designation %></td>
                                                <td><%= v.user_role %></td>
                                                <td><%= v.salary %> Tk</td>
                                                <td><button type="button" onclick="userActions('<%= v.user_id %>')" class="btn btn-primary"><i class="fas fa-plus"></i> Actions</button></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
</div>

<div id="userActionsPage" style="display: none;">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">User Manager</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="userActionSavefun()"><i class="fas fa-save fa-sm text-white-50"></i> Save</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="$('#userActionsPage').hide();$('#fullUserListView').show()"><i class="fas fa-ban fa-sm text-white-50"></i> Cancel</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Invoice</a>
    </div>
    <div class="row" >
        <div class="col-lg-12">
                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Change Information</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                    <div class="col-md-4">
                                    <div class="form-group">
                                            <label for="user_name">Name</label>
                                            <input type="text" class="form-control" id="user_name_update" name="user_name" placeholder="e.g Dalim Chowdhury">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_dob">Date of Birth</label>
                                            <input type="date" id="user_dob_update" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_gender">Gender</label>
                                            <select class="form-control" id="user_gender_update">
                                                <option value="male" selected>Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_type">Select Type</label>
                                            <select class="form-control" id="user_type_update">
                                                <option value="partner" selected>Partner</option>
                                                <option value="employee">Employee</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_designation">Designation</label>
                                            <select class="form-control" id="user_designation_update">
                                                <option value="ceo" selected>CEO</option>
                                                <option value="director">Director</option>
                                                <option value="manager">Manager</option>
                                                <option value="marketing manager">Marketing Manager</option>
                                                <option value="officer">Officer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_role">System Role</label>
                                            <select class="form-control" id="user_role_update">
                                                <option value="admin" selected>Admin</option>
                                                <option value="observer">Observer</option>
                                                <option value="member">Member</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="salary">Salary</label>
                                            <input type="number" class="form-control" id="salary_update" name="salary" placeholder="e.g 50000">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_phone">Phone</label>
                                            <input type="text" class="form-control" id="user_phone_update" name="user_phone" placeholder="e.g +8801827885295">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_email">Email</label>
                                            <input type="email" class="form-control" id="user_email_update" name="user_email" placeholder="e.g demo@demo.com">
                                        </div>
                                    </div> -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_nid">NID</label>
                                            <input type="text" class="form-control" id="user_nid_update" name="user_nid" placeholder="e.g 19950255525522">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="user_address">Address</label>
                                            <input type="text" class="form-control" id="user_address_update" name="user_address" placeholder="e.g address">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="status">Select Status</label>
                                            <select class="form-control" id="status_update">
                                                <option value="1" >Active</option>
                                                <option value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>

            <script>
            var actionUserid = null;
            function userActions(user_id){
                actionUserid = null;
                socket.emit('user_management',{user_id:user_id,req_type:'get_single_user'},function(res){
                    console.log(res)
                if(res.status){
                    actionUserid = res.data.user_id;
                    $('#userActionsPage').show();
                    $('#fullUserListView').hide();
                    $('#user_name_update').val(res.data.user_name);
                    $('#user_dob_update').val(res.data.user_dob);
                    $('#user_gender_update').val(res.data.user_gender);
                    $('#user_gender_update').change();
                    $('#user_type_update').val(res.data.user_type);
                    $('#user_designation_update').val(res.data.user_designation);
                    $('#user_role_update').val(res.data.user_role);
                    $('#salary_update').val(res.data.salary);
                    $('#user_phone_update').val(res.data.user_phone);
                    // $('#user_email_update').val(res.data.user_email);
                    $('#user_nid_update').val(res.data.user_nid);
                    if(res.data.status){
                        $('#status_update').val('1');
                    }else{
                        $('#status_update').val('0');
                    }
                }else{
                    Swal.fire({
                        title: 'Error!!!',
                        text: res.err,
                        type: 'error',
                        confirmButtonText: 'ok'
                    }).then((result) => {
                        // location.reload();
                    });
                }
                })
            }

            function userActionSavefun(){
                var salary = $('#salary_update').val()
                if(salary == ''){
                    salary = 0;
                }else{
                    salary = parseInt(salary) 
                }
                var data = {
                    user_name:$('#user_name_update').val(),
                    user_phone:$('#user_phone_update').val(),
                    user_role:$('#user_role_update').val(),
                    user_address:$('#user_address_update').val(),
                    user_gender:$('#user_gender_update').val(),
                    user_nid:$('#user_nid_update').val(),
                    user_dob:$('#user_dob_update').val(),
                    user_type:$('#user_type_update').val(),
                    user_designation:$('#user_designation_update').val(),
                    salary:salary,
                    status:$('#status_update').val(),
                    req_type:'update_user',
                    user_id:actionUserid
                }
                
                if(data.user_name.length < 2){
                    openWarning('name');
                }else if(data.user_phone.length < 10){
                    openWarning('phone');
                }else{
                    socket.emit('user_management',data,function(res){
                        console.log(res)
                        if(res.status){
                            Swal.fire({
                                title: 'Success!!!',
                                text: "Successfully User Added.",
                                type: 'success',
                                confirmButtonText: 'ok'
                            }).then((result) => {
                                location.reload();
                            })
                        }else{
                            Swal.fire({
                                title: 'Error!!!',
                                text: res.msg,
                                type: 'error',
                                confirmButtonText: 'ok'
                            }).then((result) => {
                                // location.reload();
                            });
                        }
                    });
                }
            }

            </script>