.custom_checkbox{
    width: 30px;
    height: 30px;
    background: #fff;
    position: absolute;
    right: 6px;
    top: 6px;
    border-radius: 100%;
    border: 2px solid #d8d8d8;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
}
.custom_checkbox.active{
    background:#141b45;
    display: block;
}
.perimg{
    height:150px;display: flex;object-fit: cover;
}
.perimg:hover .custom_checkbox{
    display: block;
}
#itemImageGallary .feature_img{
    border:1px solid #1cc88a !important;
    cursor: pointer;
}
#itemImageGallary .feature_img:before{
    content: 'Feature Image';
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    background: #1cc88a;
    color: #FFF;
    padding: 2px;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    border-radius: 2px;
}
.item_image{
    max-width: 100px;
    max-height:100px; 
    border-radius:4px;
}
#loadingDiv{
    display: none;
    width: 100%;
    height: calc(100% - 135px);
    z-index: 999;
    top: 63px;
    border: none;
    position: absolute;
}
.skutitle{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: green;
    color: #fff;
}